<p class="sidebar-p tagline">
  <strong>Media design, procedural rhetoric, and code for the people</strong>
</p>

<p class="sidebar-p">
  📍 the South Side of Chicago
</p>

<p class="sidebar-p">
  <b>Currently</b><br />
  🔸 <a href="https://datamade.us/">DataMade</a> civic tech developer<br />
  🔸 <a href="https://buildcoffee.org/">Build Coffee</a> cofounder and zinemonger<br />
</p>

<p class="sidebar-p">
  <b>Alum</b><br />
  🔹 <a href="https://southsideweekly.com/">South Side Weekly</a> founding editor-in-chief<br />
  🔹 <a href="http://www.patrickjagoda.com/projects/game-changer-chicago-design-lab">Game Changer Chicago</a> game designer and reproductive justice educator<br />
  🔹 <a href="https://www.uchicago.edu/">UChicago</a> Sociology and Gender & Sexuality Studies student<br />
</p>
