<p class="sidebar-p">
  <strong>Media design, procedural rhetoric, and information for the people</strong>
</p>

<p class="sidebar-p">
  📍 the South Side of Chicago
</p>

<p class="sidebar-p">
  <b>Currently</b><br />
  🌻 &nbsp; <a href="https://datamade.us/">DataMade</a> civic tech developer<br />
  🌻 &nbsp; <a href="https://buildcoffee.org/">Build Coffee</a> zinemonger and cofounder<br />
</p>

<p class="sidebar-p">
  <b>Alum</b><br />
  🌱 &nbsp; <a href="http://www.patrickjagoda.com/projects/game-changer-chicago-design-lab">Game Changer Chicago</a> game designer and reproductive justice educator<br />
  🌱 &nbsp; <a href="https://southsideweekly.com/">South Side Weekly</a> founding EIC<br />
  🌱 &nbsp; <a href="https://www.uchicago.edu/">UChicago</a> Sociology and Gender & Sexuality Studies student<br />
</p>
